<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout}">


<th:block layout:fragment="content">

    <div class="app blank sidebar-opened">
        <article class="content">
            <div class="error-card global">
                <div class="error-title-block">
                    <h1 class="error-title"><i class="fa fa-ban"></i></h1>
                    <h2 class="error-sub-title"> 접근 권한이 없습니다 </h2>
                </div>
                <div class="error-container">
                    <br>
                    <a class="btn btn-primary" href="/">
                        <i class="fa fa-angle-left"></i> Back to Main </a>
                </div>
            </div>
        </article>
    </div>
</th:block>