<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<body>
    <header class="header" th:fragment="header">
        <div class="header-block header-block-collapse d-lg-none d-xl-none">
            <button class="collapse-btn" id="sidebar-collapse-btn">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="header-block header-block-search">
        </div>
        <div class="header-block header-block-buttons">
        </div>
        <div class="header-block header-block-nav">
            <ul class="nav-profile">
                <li class="profile dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
                        <span sec:authorize="${isAuthenticated()}" class="name" th:text="${#authentication.getName()+' 님'}"> </span>
                        <span sec:authorize="${!isAuthenticated()}" class="name" > Guest</span>
                    </a>
                    <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" sec:authorize="${isAuthenticated()}" href="/logout" >
                            <i class="fa fa-power-off icon"></i> Logout </a>

                        <a class="dropdown-item" sec:authorize="${!isAuthenticated()}" href="/login" >
                            <i class="fa fa-power-off icon"></i> Login </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
</body>
</html>


