<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<aside class="sidebar" th:fragment="menu">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand">
                <div class="logo">
                    <span class="l l1"></span>
                    <span class="l l2"></span>
                    <span class="l l3"></span>
                    <span class="l l4"></span>
                    <span class="l l5"></span>
                    <span class="l l6"></span>
                </div>
                 Admin
            </div>
        </div>
        <nav class="menu">
            <ul class="sidebar-menu metismenu" id="sidebar-menu">
                <li class="active">
                    <a href="/">
                        <i class="fa fa-home"></i> 메인 </a>
                </li>

                <li sec:authorize="hasAuthority('ADMIN')">
                    <a href="">
                        <i class="fa fa-puzzle-piece"></i> 관리자 페이지
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        <li>
                            <a href="/admin/userManaagement"> 유저 관리 </a>
                        </li>
                        <li>
                            <a href="/admin/delUser"> 삭제 계정 </a>
                        </li>

                        <li>
                            <a href="">
                                <i class="fa fa-list-alt"></i>
                                총 To do list<i class="fa arrow"></i> </a>
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="/admin/todo/list">todolist</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>


                <li>
                    <a href="">
                        <i class="fa fa-users"></i> To Do List
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        <li>
                            <a href="/todo/list"> my to do list </a>
                            <a href="/todo/add"> add to do list </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </nav>
    </div>
</aside>
</body>
</html>


